body {
    min-width: 100%;
    font-family: 'Work Sans', serif;

}

.header {
    /* display: flex;
    border: 1px solid purple;
    margin-top: 41px;
    margin-bottom: 2%; */
    width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

/* .logo {
    margin-right: 7%;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1, 06em;
}

.nav {
    display: flex;

    padding-top: 41px;
    padding-bottom: 44px;
    justify-content: space-between;
    align-content: center;
    width: 100%;


}

.nav1 {

    display: flex;
    justify-content: flex-start;
    width: 40%;

}

.nav2 {

    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-right: 3%;
}

.link {


    margin-left: 5%;
    /* padding: 10%; */


}

#price {
    padding: 13px 31px 14px 31px;
    border: 1px solid rgba(29, 37, 60, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
}

.link:hover {
    color: thistle;
}





.h2 {
    font-size: 64px;
}

.min {
    font-size: 22px;
    margin-bottom: 40px;
    color: #5A6482;
}

.btn {
    color: white;
    background: #F46752;
    font-size: 16px;
    border: 1px solid rgba(29, 37, 60, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 21px 60px 20px 29px;
    margin-top: 40px;

}


.meet {
    font-size: 18px;
    color: #F46752;
}

.start {
    display: flex;

    width: 1440px;
    margin: 0 auto;

}

.footer1 {
    width: 30%;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5%;

}

.textf {
    font-size: 20px;
}